.hero {
  background-size: cover;
  background-position: 80% center;
  min-height: 600px;
  position: relative;

  @media (width >= 1080px) {
    height: calc(100vh - 60px);
  }

  & .hero-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
  }

  & .hero-content {
    color: white;
    max-width: 551px;
    padding-top: 120px;
    position: relative;
    z-index: 5;

    @media (width >= 1080px) {
      padding-top: 0;
    }
  }

  & h1 {
    font-size: 42px;

    @media ( width >= 910px) {
      font-size: 60px;
    }
  }

  & p {
    font-family: 'museo_sans300';
    font-size: 24px;
  }

}

#bg-video {
  bottom: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
  overflow: hidden;

  @media ( width >= 1080px) {
    display: block;
  }

  .flexible {
    position: absolute;
    object-fit: cover;
    z-index: -999;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  & video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    /* @media ( width >= 1080px) {
      height: auto;
      width: 100%;
    } */
  }
}


#featured-news-callout {
  padding: 56px;
  text-align: center;

  & .callout-wrapper {
    max-width: 780px;
  }


  & .btn {
    margin: 0 auto;
  }
}

.introduction {
  background-color: #f4f4f4;
  padding: 3rem 1rem;

  & h3 {
    text-align: center;
  }
}

.our-pipeline {
  padding: 4rem 1rem;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;

  & h2 {
    color: var(--textColor);
    font-family: 'museo_sans500';
    line-height: 32px;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
  
    @media ( width >=840px ) {
      font-size: 36px;
      line-height: 48px;
    }
  }
  
  & .wrapper {
    margin: 0 auto;
    
    @media (width > 960px) {
      max-width: 67.5%;
    }
  }
}

.partners {
  padding: 104px 12px;
  text-align: center;

  @media (width > 840px) {
    padding: 54px 20px;
  }

  & .partners-wrapper {
    margin: 0 auto;
    max-width: 740px;
    width: 100%;

    & h4 {
      font-size: 36px;
      margin: 1em auto 2em;
      text-align: center;
    }
  }

  & .partner-list {
    
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 2em;
    padding: 0;
    width: 100%;

    @media (width > 840px) {
      display: flex;
    }

    &.top {
      & img {
        max-height: 160px;
        max-width: 200px;
      }
    }

    &.middle {
      & img {
        max-height: 175px;
        max-width: 175px;
      }
    }

    &.bottom {
      & img {
        max-width: 80px;
      }
    }

    & li {
      align-items: center;
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 1em 1.5em;

      & img {
        align-self: top;
        height: auto;
        width: auto;
      }
    }
  }

  & .btn {
    margin: 0 auto;
  }
}


.careers {
  align-items: center;
  background-position: 80%;
  background-size: cover;
  display: flex;
  height: 700px;
  padding: 0;

  @media( width >= 840px ) {
    /* height: 100vh; */
    padding: 12px;
  }

  & .careers-content {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3em;
    width: 100%;


    @media( width >= 840px ) {
      padding: 5em;
    }

  }

  & h4 {
  	color: #FFFFFF;
  	font-size: 36px;
  	letter-spacing: 0.5px;
  	line-height: 44px;

    @media( width >= 840px ) {
      font-size: 60px;
      line-height: 68px;
      max-width: 620px;
    }
  }

  & .btn a {
    margin: 0;

    &:hover {
      background-color: white;
      color: var(--blue);
    }
  }
}


.detailed-view-btn {
  color: var(--blue);
  cursor: pointer;
  display: inline-block;
  margin-left: 24px;
  text-transform: uppercase;

  &.js-active {
    & .open {
      display: none;
    }

    & .closed {
      display: inline;
    }
  }

  & .closed {
    display: none;
  }

  &:hover {
    color: var(--lightBlue);
  }

  & p {
    font-size: 14px;
    font-weight: 700;
  }

  & span {
    font-size: 18px;
    margin-right: 10px;
  }
}

.learn-more-home {
  background-color: #f4f4f4;
  padding: 2rem 1rem;

  & .card {
    background-color: #ffffff;
  }
}
