html, body {
	background: var(--white);
	color: var(--textColor);
	font-family: var(--font-text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  margin: 0;

  &.js-no-transition {
    transition: none !important;
  }
}

* {
  box-sizing: border-box;
	outline: none;

	&::selection {
		color: var(--white);
		background: var(--blue);
	}
}

a {
  font-family: 'museo_sans500', sans-serif;
}

.global-wrapper {
	position: relative;
}

.wrapper {
  @mixin maxWidth;
}

.text-link a {
  color: var(--blue);
  font-family: 'museo_sans700', sans-serif;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:visited {
    color: var(--blue);
  }
}

.text-link a:before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 14.9 14.5'><path d='M6.7,1.2,7.5.5A.8.8,0,0,1,8.6.5l6.5,6.4a.9.9,0,0,1,0,1.2L8.6,14.5a.7.7,0,0,1-1.1,0l-.8-.7a.8.8,0,0,1,0-1.1l4.1-3.9H1.2A.7.7,0,0,1,.4,8V7a.7.7,0,0,1,.8-.8h9.6L6.7,2.4A.9.9,0,0,1,6.7,1.2Z' transform='translate(-0.4 -0.2)' style='fill: #1E5CE5'/></svg>");
  position: absolute;
  height: auto;
  width: 12px;
  right: -2em;
  transition: all 123ms ease-in-out;
}

.text-link a:hover:before {
  right: -2.5em;
}

.text-link.white a {
  &:visited {
    color: white;
  }
}

.text-link.white a:before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 14.9 14.5'><path d='M6.7,1.2,7.5.5A.8.8,0,0,1,8.6.5l6.5,6.4a.9.9,0,0,1,0,1.2L8.6,14.5a.7.7,0,0,1-1.1,0l-.8-.7a.8.8,0,0,1,0-1.1l4.1-3.9H1.2A.7.7,0,0,1,.4,8V7a.7.7,0,0,1,.8-.8h9.6L6.7,2.4A.9.9,0,0,1,6.7,1.2Z' transform='translate(-0.4 -0.2)' style='fill: #FFFFFF'/></svg>");
}

.btn {
  height: 50px;
  width: 265px;
}

.btn a,
.btn .btn-content {
  align-items: center;
  border: 3px solid var(--blue);
  border-radius: 25px;
  color: var(--blue);
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-family: 'museo_sans700';
  font-size: 14px;
  height: 100%;
  margin: 60px 0;
  padding: 0 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 123ms ease-in-out;

  &:visited {
    color: var(--blue);
  }
}

.btn.white a,
.btn.white .btn-content {
  border: 3px solid white;
  color: white;

  &:visited {
    color: white;
  }
}

.btn .btn-content {
  border: 3px solid var(--blue);
  color: var(--blue);
}

.btn:hover a,
.btn:hover .btn-content {
  background-color: var(--blue);
  color: white;
}

.btn.white a,
.btn:hover .btn-content {
  border: 3px solid white;
  color: white;
}

.btn.white:hover a,
.btn.white:hover .btn-content {
  background: transparent;
}

.btn.play span {
  position: relative;
}

.btn.play span:before {
  /* content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 26 29.7'><path d='M26.9,15.2,3,1.4a1.1,1.1,0,0,0-1.6.9V29.9a1.1,1.1,0,0,0,1.6.9L26.9,17A1,1,0,0,0,26.9,15.2Z' style='fill: #1e5ce5'/></svg>"); */
	content: '';
	position: absolute;
  height: auto;
  margin: 2px 0 0;
  line-height: 9px;
  width: 9px;
  left: -2em;
  transition: all 200ms ease-in-out;
  transform-origin: 50% 50%;
}

/* .btn.white.play span:before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 26 29.7'><path d='M26.9,15.2,3,1.4a1.1,1.1,0,0,0-1.6.9V29.9a1.1,1.1,0,0,0,1.6.9L26.9,17A1,1,0,0,0,26.9,15.2Z' style='fill: #FFFFFF'/></svg>");
}

.btn.play:hover span:before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 26 29.7'><path d='M26.9,15.2,3,1.4a1.1,1.1,0,0,0-1.6.9V29.9a1.1,1.1,0,0,0,1.6.9L26.9,17A1,1,0,0,0,26.9,15.2Z' style='fill: #FFFFFF'/></svg>");
  transform: scale3d(1.3,1.3,1);
} */


h1, h2, h3 {
	box-sizing: border-box;
}

h3, h4, h5 {
  font-family: 'museo_sans500', sans-serif;
  font-weight: normal;
}

h1 {
  margin: 0;
}

h2, h3 {
  margin: 0.25em 0 1em;
}

h1, h2 {
  font-family: 'museo_sans700', sans-serif;
}

h1 {
  font-size: 60px;
  margin-bottom: 0.5em;
}

h2 {
  color: var(--blue);
  font-size: 18px;
  line-height: 24px;
}

h3 {
  font-size: 26px;
  line-height: 32px;

  @media ( width >=840px ) {
    font-size: 36px;
    line-height: 48px;
  }
}

p {
  margin: 0.25em 0 1em;
}

p, li {
  font-family: 'museo_sans300', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

section {
  padding: 0 12px;

  & div[class$='wrapper'] {
    @mixin maxWidth;
  }
}

img {
  align-self: center;
  max-width: 100%;
}

sup {
  font-size: 0.5em;
  line-height: 1;
}

section .anchor-link {
  position: absolute;
  top: -60px;
}

.content-video {
  background-color: var(--kindaWhite);
  padding: 104px 12px;


  & .wrapper {
    max-width: 800px;
  }
}

.hero {
  margin-top: 60px;
  min-height: 500px;
}

.link-wrapper {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  
  @media ( width > 840px) {
    display: flex;
  }

  & .card:last-child {
    margin-right: 0;
  }
}


.card {
  background-color: var(--kindaWhite);
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-right: 24px;
  padding: 44px;
  width: 75%;

  @media (width > 910px) {
    width: 33%;
  }

  & h3 {
    font-size: 24px;
    line-height: 1.4;
  }

  & p {
    flex: 1;
    margin-bottom: 44px;
  }

  & .inline-link {
    display: flex;
    flex-direction: row;
    padding-right: 2em;
    width: 30%;

    & a {
      align-items: center;
      display: flex;
      text-decoration: none;
    }
    & span {
      padding-left: 1.5em;
    }

    & a:visited {
      color: var(--blue);
    }
  }
}

.desktop-img {
  display: none;
  @media (width > 840px) {
    display: block;
  }
}

.mobile-img {
  @media (width > 840px) {
    display: none;
  }
}