#header {
  background-color: var(--textColor);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 8;
}

.header-content {
  @mixin maxWidth;
  align-items: center;
  display: flex;
  height: 60px;
  padding: 0 12px;
  position: relative;
  width: 100%;

  @media (width > 840px) {
    padding: 0 20px;
  }
}

.logo-wrapper {
  max-width: 300px;
  position: relative;
  width: 100%;
  z-index: 5;

  & svg {
    display: block;
    fill: white;
    position: relative;
    transition: fill 333ms ease-in-out;
    z-index: 5;
  }

  &.js-open {
    & svg {
      fill: var(--blue);
    }
  }
}

.logo-wrapper.js-open {
  &:after {
    background-color: #fff;
    content: '';
    bottom: -15px;
    left: -10px;
    position: absolute;
    top: -20px;
    right: -10px;
    z-index: 0;
    width: 100vw;
  }
}

#header nav.main-menu {
  align-items: flex-start;
  display: flex;
  left: 0;
  justify-content: center;
  height: 100%;
  opacity: 0;
  padding-top: 60px;
  position: fixed;
  top: 0;
  transition: all 333ms ease-in-out;
  right: 0;
  visibility: hidden;
  z-index: -10;


  @media (width > 1020px) {
    flex: 1;
    justify-content: flex-end;
    opacity: 1;
    padding-top: 0;
    position: relative;
    visibility: visible;
    z-index: 1;
  }

  &.js-open {
    opacity: 1;
    overflow-y: scroll;
    visibility: visible;
    z-index: 1;
  }
}

#header.js-open:before {
  background-color: white;
  bottom: 0;
  content: '';
  left: 0;
  height: 100%;
  opacity: 0.95;
  position: fixed;
  top: 0;
  right: 0;

  @media (width > 1020px) {
    background-color: transparent;
  }
}

#menu-main-menu {
  margin: 0;
  opacity: 0;
  padding: 0 0 3rem 0;

  @media (width > 1020px) {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    opacity: 1;
  }

  & li {
    list-style-type: none;
    margin: 1em 0;

    @media (width > 1020px) {
      align-items: center;
      display: flex;
      height: 60px;
      margin: 0 0 0 1.75em;
    }
  }

  & li.menu-item-has-children {
    position: relative;
    padding-right: 16px;

    &:after {
      content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 292.362 292.362'><path fill='white' d='M286.935 69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952 0-9.233 1.807-12.85 5.424C1.807 72.998 0 77.279 0 82.228c0 4.948 1.807 9.229 5.424 12.847l127.907 127.907c3.621 3.617 7.902 5.428 12.85 5.428s9.233-1.811 12.847-5.428L286.935 95.074c3.613-3.617 5.427-7.898 5.427-12.847 0-4.948-1.814-9.229-5.427-12.85z'/></svg>");
      position: absolute;
      right: 0;
      width: 10px;
    }

    & a:before {
      display: none;
    }
  }

  & a,
  & .false-link {
    color: var(--blue);
    font-family: 'museo_sans700';
    font-size: 21px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    @media (width > 1020px) {
      color: white;
      font-size: 14px;
    }

    &:before {
      @media (width > 1020px) {
        background-color: white;
        bottom: -15px;
        content: '';
        left: 0;
        height: 0;
        position: absolute;
        right: 0;
        transition: height 163ms ease-in-out;
        width: 100%;
      }
    }

    &:hover:before {
      height: 2px;
    }
  }

  .false-link {
    cursor: default;
  }

  & .sub-menu {
    margin: 0;
    min-width: 200px;
    padding: 0;
    top: 60px;
    z-index: 5;

    @media (width > 1020px) {
      background-color: var(--darkBlue);
      display: none;
      position: absolute;
    }

    & li {
      height: auto;
      margin: 0;

      &:hover {
        @media (width > 1020px) {
          background-color: var(--blue);
        }
      }
    }

    & a {
      font-size: 14px;
      margin: 0;
      padding: 10px;
      white-space: nowrap;

      &:hover {
        &:before {
          display: none;
        }
      }
    }
  }

  & li:hover > .sub-menu {
    @media (width > 1020px) {
      display: block;
    }
  }
}

.js-open.main-menu #menu-main-menu {
  opacity: 1;
}


#menu-btn {
  bottom: 0;
  cursor: pointer;
  height: 60px;
  position: absolute;
  right: 10px;
  top: 0;
  width: 41px;
  z-index: 5;

  @media (width > 1020px) {
    display: none;
  }

  & svg {
    fill: white;
    height: 100%;
    padding: 6px;
    position: absolute;
    width: 100%;
  }

  & .close {
    opacity: 0;
  }
}

#menu-btn.js-open {
  transition: all 333ms ease-in-out;
  & .open {
    opacity: 0;
    visibility: none;
  }
  & .close {
    opacity: 1;
  }

  & svg {
    fill: var(--blue);
  }
}