.not-found {
  margin-top: 100px;
  min-height: 470px;

  & .wrapper {
    max-width: 1000px;

    @media (width >=840px) {
      display: flex;
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (width >=840px) {
      max-width: 40%;
    }
    & h1 {
      font-size: 36px;
      text-align: center;

      @media (width >=840px) {
        text-align: left;
      }
    }
  }

  & .st0 {
    fill:#1E5CE5;
  }
	& .st1 {
    cursor: pointer;
    fill: #F2C014;
    stroke: #F2C014;
    stroke-miterlimit: 10;
    transition: fill 300ms ease-out;

    &.kill-bacteria {
      fill: white;
    }
  }
	& .st2 {
    fill:none;
  }

  & .bacteria {
    display: none;
    max-height: 450px;
    width: 100%;

    @media (width >=840px) {
      display: block;
    }

    & svg {
      height: 100%;
      width: 100%;
    }
  }

  & .link-out {
    margin: 54px auto;
  }

  & .btn {
    & a {
      margin: 1em 0;
    }
  }
}


#bacteria-key {
  cursor: default;
  fill: #F2C014;
  stroke: #F2C014;

  &.kill-bacteria {
    fill: white;
  }
}