.not-found {
  margin-top: 100px;
  min-height: 470px;

  & .wrapper {
    max-width: 1000px;

    @media (width >=840px) {
      display: flex;
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (width >=840px) {
      max-width: 40%;
    }
    & h1 {
      font-size: 36px;
      text-align: center;

      @media (width >=840px) {
        text-align: left;
      }
    }
  }

  & .link-out {
    margin: 54px auto;
  }

  & .btn {
    & a {
      margin: 1em 0;
    }
  }
}