.careers-hero {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% center;
  display: flex;
  height: 702px;
  margin-top: 60px;
  padding: 0 12px;

  & .careers-hero-wrapper {
    @mixin maxWidth;
    display: block;
    color: white;
    width: 100%;
  }

  & h1 {
    font-size: 60px;
    line-height: 68px;
  }

  & p {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 3em;
  }

  & h1,
  & p {
    max-width: 580px;
  }

  & .btn {
    margin: 16px 0;

    & a {
      margin: 0;
    }
  }

  & .btn-content {
    margin: 0;
  }

  & .btn.white {
    & .btn-content {
      background-color: white;
      color: var(--mediumBlue);
    }
  }

}

.careers-page-content {
  padding: 64px 0;

  & .careers-content {
    @media (width > 910px) {
      display: flex;
      justify-content: space-between;
    }
  }

  & .careers-content-copy {
    @media (width > 910px) {
      width: 50%;
    }
  }

  & .careers-video {



    @media (width > 910px) {
      margin-right: 0;
      width: 40%;
    }
  }
}

.careers-listing {
  @mixin maxWidth;
  padding-top: 84px;

  & .accordion {
    padding: 0;

    @media (width >=960px) {
      margin: 0;
      max-width: 840px;
    }

    & .job-item {
      border-bottom: 2px solid rgba(0,0,0,0.25);
      list-style-type: none;
      margin-bottom: 12px;
      margin-left: -1em;
    }

    & .click-block {

      padding: 1em;
      transition: all 221ms ease-in-out;

      @media (min-width: 840px) {
        display: flex;
        justify-content: space-between;
      }
    }

    & .job-info {

      @media (width >=960px) {
        display: flex;
        flex: 1;
      }

      & p {
        padding-right: 2em;
        margin: 0;

        & span {
          font-weight: bold;
        }
      }
    }

    & h3 {
      font-size: 24px;
      margin-bottom: 0.5em;
    }

    & p {
      font-size: 14px;
    }

    & .accordion-content {
      padding: 1em 2em;

      & p {
        font-size: 18px;
      }
    }
  }

  & .click-block:hover {
    background-color: var(--kindaWhite);
  }
}

.list-item-link {
  padding-top: 2em;

  @media (min-width: 840px) {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  & p {
    color: var(--blue);
    font-family: 'museo_sans700';
    text-transform: uppercase;
  }

  & span {
    margin-left: 1em;
  }
}

.job-item-link {
  color: var(--darkBlue);
  text-decoration: none;
}

