.footer {
  color: white;

  & a {
    color: white;
  }

  & .footer-wrapper {
    display: flex;
  }

}

.footer-contact {
  background-color: var(--mediumBlue);


  & .information {
    padding: 54px 0 21px;
    width: 35%;
  }

  & h3 {

  }

  & .map {
    width: 65%;
  }
}

.footer-main {
  background-color: var(--darkBlue);

  & .footer-logo {
    max-width: 300px;
    width: 100%;
  }
}

#helix {
  width: 300px;
  height: auto;
}