section .anchor-link {
  position: absolute;
  top: -104px;
}

.hero {
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 60px);
  position: relative;

  & .hero-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  & .hero-content {
    color: white;
    max-width: 700px;
    text-align: center;
  }

  & p {
    font-family: 'museo_sans300';
    font-size: 24px;
  }

  & .btn {
    margin: 0 auto;
  }
  & .down-arrow {
    animation: bounce 3s ease-in-out infinite;
    bottom: 1.5em;
    left: 0;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 30px;

    & svg {
      height: 100%;
      width: 100%;
    }
  }
}

.about-us {
  background-image: url('img/bg-about-us.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
  padding: 104px 12px;

  @media (width > 840px) {
    padding: 104px 20px;
  }

  & .about-us-wrapper {
    @mixin maxWidth;

    @media (width > 1000px) {
      display: flex;
      justify-content: space-between;
    }
  }

  & article,
  & aside {
    flex: 1;
  }

  & article {
    margin: 0 auto;
    max-width: 720px;

    @media (width > 1000px) {
      margin: 0;
      max-width: 610px;
      padding-right: 3em;
    }
  }

  & aside {
    margin: 0 auto;
    max-width: 420px;
    padding-top: 4em;
    text-align: center;

    @media (width > 1000px) {
      margin: 0;
      text-align: left;
    }

    & h3 {
      font-family: 'museo_sans700';
      font-size: 24px;
      line-height: 29px;
    }

    & p {
      font-family: 'museo_sans300';
      font-size: 14px;
      line-height: 22px;
    }

    & .btn {
      margin: 0 auto;

      @media (width > 1000px) {
        margin: 0;
      }
    }
  }

  & .text-link {
    margin: 60px 0 12px;
  }
}




.overview {
  padding: 0;

  @media (width > 840px) {
    display: flex;
  }

  & .overview-item {
    flex: 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
      content: '';
      float: left;
      padding-top: 100%;
    }
  }

  & .overview-item-content {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    max-width: 400px;
    padding: 2.25em;
    position: relative;
    text-align: center;
    width: 100%;
  }

  & p {
    font-size: 14px;
    line-height: 22px;
  }

  & .item-title {
    font-family: 'museo_sans700';
    font-size: 24px;
    line-height: 30px;
  }

  & .text-link {
    bottom: 1em;
    position: absolute;

    @media (width > 840px) {
      bottom: 3em;
    }
  }

  & a {
    color: white;
  }
}

.our-pipeline {
  overflow: hidden;
  padding: 104px 12px 0;

  @media (width > 900px) {
    padding: 104px 12px;
  }

  & .our-pipeline-wrapper {

    @media (width > 900px) {
      display: flex;
    }

  }

  & article {
    flex: 1.33;
    padding-bottom: 54px;

    @media (width >900px) {
      padding-bottom: 0;
    }
  }

  & .our-pipeline-content {
    @media (width >900px) {
      padding-right: 100px;
    }

  }

  & aside {
    background-color: var(--blue);
    color: white;
    flex: 1;
    padding: 54px 0;
    position: relative;
    width: 100%;

    &:after {
      background-color: var(--blue);
      bottom: 0;
      content: '';
      left: -25%;
      height: 100%;
      position: absolute;
      right: -25%;
      top: 0;
      width: 150%;
      z-index: -1;

      @media (width > 900px) {
        left: 0;
        height: 200%;
        right: -100%;
        top: -50%;
        width: 200%;
      }
    }

    & h3 {
      font-family: 'museo_sans700';
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 24px;
    }

    & p {
      font-size: 14px;
      line-height: 22px;
    }
  }

  & .aside-item {
    justify-content: space-between;
    margin: 0 auto 54px;
    max-width: 600px;
    text-align: center;
    width: 100%;

    @media (width > 900px) {
      display: flex;
    }
  }

  & .aside-image {
    padding: 0 2.25em;

    & img {
      height: auto;
      width: 76px;
    }
  }

  & .aside-content {
    @media (width > 900px) {
      width: 70%;
    }
  }

  & .btn {
    margin: 0 auto;

    @media (width > 900px) {
      margin: 0;
    }
  }
}


.graphs {
  background-color: var(--darkBlue);
  color: white;
  padding: 104px 12px;

  & h3 {
    margin: 0 0 24px;
  }

  & .graph-item {
    margin: 0 auto 54px;
    max-width: 1140px;
  }
}

.our-team {
  padding: 104px 0;

  & article {
    border-bottom: 1px solid var(--lightGray);
    margin: 0 auto;
    max-width: 800px;
    padding: 0 36px 36px;
    text-align: center;
  }
}

.careers {
  align-items: center;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 0;

  @media( width >= 840px ) {
    height: 100vh;
    padding: 12px;
  }

  & .careers-content {
    align-items: center;
    background-color: var(--blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
    width: calc(100% + 24px);

    @media( width >= 840px ) {
      padding: 5em;
    }

  }

  & h4 {
    font-size: 24px;
    margin-top: 0;
    text-align: center;

    @media( width >= 840px ) {
      font-size: 36px;
    }
  }

  & .btn a {
    margin: 0;

    &:hover {
      background-color: white;
      color: var(--blue);
    }
  }
}

.partners {
  padding: 104px 12px;

  @media (width > 840px) {
    padding: 104px 20px;
  }

  & .partners-wrapper {
    & h4 {
      font-size: 36px;
      margin-top: 0;
      text-align: center;
    }
  }

  & .partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    & li {
      align-items: center;
      display: flex;
      justify-content: center;
      list-style-type: none;
      flex-basis: 20%;
      min-width: 200px;
      padding: 1.25em 1em;
    }
  }

  & .btn {
    margin: 0 auto;
  }
}







.parallax-bg {
  background-size: cover;
  background-position: center center;
  height: 200px;

  @media (width > 840px) {
    background-attachment: cover;
    height: 400px;
  }
}












@keyframes bounce {
  0%, 20%, 30%, 39%, 50% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-6px);
  }
  45% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}