section .anchor-link {
  position: absolute;
  top: -104px;
}

.hero {
  background-size: cover;
  background-position: center center;
  height: 100%;
  max-height: 600px;
  position: relative;

  @media (width >= 1000px) {
    height: 49vw;
    max-height: 100%;
  }

  & .hero-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
  }

  & .hero-content {
    color: white;
    max-width: 551px;
    position: relative;
    z-index: 5;
  }

  & h1 {
    font-size: 48px;

    @media ( width >= 910px) {
      font-size: 60px;
    }
  }

  & p {
    font-family: 'museo_sans300';
    font-size: 24px;
  }

}

.bg-video {
  bottom: 0;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;

  @media (width >= 1000px) {
    display: block;
  }

  & video {
    height: 100%;
    width: 100%;
  }
}


#featured-news-callout {
  padding: 56px 0;
  text-align: center;

  & .callout-wrapper {
    max-width: 780px;
  }


  & .btn {
    margin: 0 auto;
  }
}


#cr-phage {
  background: linear-gradient(180deg, #00203F 0%, #001937 90%, #001937 100%);
  /* background-color: #001937; */
  background-size: cover;
  background-position: 60% center;
  background-repeat: no-repeat;
  color: white;
  padding: 0;

  @media (width >= 800px) {
    background-position: right center;
  }

  & .cr-phage-wrapper {
    padding: 0 12px ;
    @media (width >= 1000px) {
      display: flex;
    }
  }

  & .cr-phage-content {
    padding: 130px 0;
    width: 70%;
    @media (width >= 1000px) {
      padding: 200px 0;
      width: 50%;
    }
  }

  & h2 {
    color: white;
    font-size: 60px;
    line-height: 68px;
  }

  & p {
    font-size: 24px;
  }
}


.our-pipeline {
  overflow: hidden;
  padding: 104px 12px 0;

  @media (width > 900px) {
    padding: 104px 12px;
  }

  & article {
    padding-bottom: 54px;

    @media (width >900px) {
      padding-bottom: 0;
    }
  }

  & .our-pipeline-content {
    margin: 0 auto;
    max-width: 764px;
    text-align: center;
  }
}


.graphs {

}



.careers {
  align-items: center;
  background-position: 80%;
  background-size: cover;
  display: flex;
  height: 700px;
  padding: 0;

  @media( width >= 840px ) {
    /* height: 100vh; */
    padding: 12px;
  }

  & .careers-content {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3em;
    width: 100%;


    @media( width >= 840px ) {
      padding: 5em;
      width: 60%;
    }

  }

  & h4 {
  	color: #FFFFFF;
  	font-size: 36px;
  	letter-spacing: 0.5px;
  	line-height: 44px;

    @media( width >= 840px ) {
      font-size: 60px;
      line-height: 68px;
    }
  }

  & .btn a {
    margin: 0;

    &:hover {
      background-color: white;
      color: var(--blue);
    }
  }
}

.partners {
  padding: 104px 12px;

  @media (width > 840px) {
    padding: 104px 20px;
  }

  & .partners-wrapper {
    & h4 {
      font-size: 36px;
      margin-top: 0;
      text-align: center;
    }
  }

  & .partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    & li {
      align-items: center;
      display: flex;
      justify-content: center;
      list-style-type: none;
      flex-basis: 20%;
      min-width: 200px;
      padding: 1.25em 1em;
    }
  }

  & .btn {
    margin: 0 auto;
  }
}




/* @keyframes bounce {
  0%, 20%, 30%, 39%, 50% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-6px);
  }
  45% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
} */