#header .global-news-banner {
  background-color: #fff;
  display: none;
  transition: all 220ms ease-out;
}

.global-news-banner {
  padding: 1em 4em;
  position: relative;
  text-align: center;

  & p {
    font-size: 21px;
  }

  & .btn {
    margin: 0 auto;
  }

  & a {
    margin: 0;
  }

  & .close-news-banner {
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
  }
}
