html, body {
	background: var(--white);
	color: var(--black);
	/* font-family: var(--font-text); */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

body {
	box-sizing: border-box;
}

* {
	outline: none;

	&::selection {
		color: var(--white);
		background: var(--medium-blue);
	}
}

a {

}

p {

}

h1, h2, h3 {
	box-sizing: border-box;
}

h1 {

}

h2 {

}

h3 {
	
}