.team-navigation {

  margin: 2em auto 0;
  padding: 0;
  text-align: center;
  width: 100%;

  @media (min-width: 840px) {
    display: flex;
    justify-content: center;
  }


  & li {
    cursor: pointer;
    list-style-type: none;
    margin: 0 0.5em;
    padding: 0.5em;
    text-transform: uppercase;

    &.js-active {
      color: var(--blue);
      font-weight: bold;
    }
  }
}


#team-wrapper {
  margin: 20px auto;
  max-width: 1440px;
  padding-top: 34px;
  width: calc(100% - 2.5%);

  & .employee-section {
    display: none;
    position: relative;

    &.js-active {
      display: block;
    }
  }
}


#bio-view {
  background-color: #fff;
  bottom: 0;
  box-shadow: 3px 0 6px rgba(0,0,0,0.28);
  height: 100%;
  position: fixed;
  transition: right 330ms ease-out;
  right: -100%;
  top: 60px;
  width: 100%;

  @media (min-width: 840px) {
    right: -35%;
    width: 35%;
  }


  &.js-open {
    right: 0;
    z-index: 15;
  }

  & .employee-bio-panel {
    background-color: white;
    bottom: 0;
    height: 100%;
    overflow-y: scroll;
    padding: 4em 2em 10em;
    position: absolute;
    right: 0;
    top: 0px;
    width: 100%;
  }

  & header.employee-bio {
    border-bottom: 1px solid lightgray;
    margin: 2em 0;
    padding-bottom: 2em;
    text-align: center;
  }

  & .employee-image {
    border: 1px solid white;
    border-radius: 100px;
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    min-width: 100%;
    width: 100%;

    & img {
      align-self: center;
    }
  }

  & .employee-role {
    color: var(--blue);
    font-size: 13px;
    font-weight: 600;
    margin: 1em 0 0;
    text-transform: uppercase;
  }

  & .employee-name {
    font-weight: 600;
    margin-bottom: 16px;
  }

  & .employee-title {
    font-weight: 600;
    margin: 0 auto;
    max-width: 80%;
  }
}

.employee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  & .employee-list-item {
    list-style-type: none;
    text-align: center;
    padding-bottom: 1.4em;
    flex-basis: 50%;



    @media (min-width: 840px) {
      flex-basis: 25%;
    }

    @media (min-width: 1080px) {
      flex-basis: 20%;
    }
  }

  & .image img {
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: inline;
    margin: 0;
  }

  & .name {
    font-weight: bold;
    margin-bottom: 8px;
  }

  & .role {
    font-size: 11px;
    line-height: 16px;
    margin: 0 auto;
    max-width: 85%;
  }

}

.employee-list.team-carousel {
  & .employee-list-item {
    list-style-type: none;
    text-align: center;
    padding-bottom: 1.4em;
    flex-basis: 50%;
  }
}


#overlay.js-open {
  background-color: rgba(0,0,0,0.25);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

body.js-open {
  overflow: hidden;
}

#close-panel {
  cursor: pointer;
  left: 32px;
  position: absolute;
  top: 32px;
  z-index: 50;
}

