:root {
  --fontText: 'museo_sans500', serif;
	--darkBlue: #181B20;
  --blue: #1E5CE5;
  --mediumBlue: #03487E;
  --lightBlue: #008FD7;

  --lightGray: #D8D8D8;
  --gray: #979797;

  --kindaWhite: #FAFAFA;


  --textColor: #042A4A;

}


@define-mixin maxWidth {
	max-width: 1140px;
	margin: auto;
	box-sizing: border-box;
}