:root {
	--darkBlue: #181B20;
  --blue: #1E5CE5;
  --mediumBlue: #03487E;
  --lightBlue: #008FD7;

  --kindaWhite: #FAFAFA;


  --textColor: #042A4A;

}

@define-mixin maxWidth {
	max-width: 1280px;
	margin: auto;
	box-sizing: border-box;
}